---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="text-neutral-200 text-sm py-1 hover:bg-slate-50 hover:bg-opacity-15 font-mono px-4 pr-7 flex items-center gap-2"
>
  <slot />
</a>
