---
import Sectors from "../index/Sectors.astro";
import Hero from "../index/Hero.astro";
import Services from "../index/Services.astro";
import Cta from "../index/Cta.astro";
import AboutUs from "../index/AboutUs.astro";
---

<main class="flex-1">
  <Hero />
  <Services />
  <Sectors />
  <AboutUs />
  <Cta />
</main>
