---
import Code from "./icons/Code.astro";
import Book from "./icons/Book.astro";
import User from "./icons/User.astro";
import AsideLink from "./shared/AsideLink.astro";
import Brain from "./icons/Brain.astro";
---

<aside
  tabindex="0"
  id="aside"
  class="flex flex-col min-w-36 border-r border-r-neutral-600 text-sm"
>
  <div class="px-4 pt-4 pb-2">
    <p class="text-violet-400 font-bold">Navegación</p>
  </div>
  <AsideLink href="#proyectos"><Code className="size-4 text-amber-100" /> proyectos</AsideLink>
  <AsideLink href="#habilidades"><Brain className="size-4 text-amber-100" /> habilidades</AsideLink>
  <AsideLink href="#educacion"><Book className="size-4 text-amber-100" /> educación</AsideLink>
  <AsideLink href="#sobre-mi"><User className="size-4 text-amber-100" /> sobre_mi</AsideLink>
  <div class="p-4 mt-auto">
    <p class="font-mono">Ctrl + b</p>
  </div>
</aside>

<script>
  const aside = document.querySelector("aside");
  window.addEventListener("keyup", (e) => {
    if (e.ctrlKey && e.key.toLowerCase() === "b" && aside) {
      if (aside.classList.contains("hidden")) {
        aside.classList.add("block");
        aside.classList.remove("hidden");
      } else {
        aside.classList.add("hidden");
        aside.classList.remove("block");
      }
    }
  });
</script>
